body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(102, 235, 213);
}

button{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 2px solid green;
    background-color: rgb(191, 233, 176);
    color: rgb(0, 0, 0);
    font-size: 16pt;
    font-weight: 300;
    text-align: center;
}

#counter {
    display: flex;
}
#currentNumber {
    display: flex;
    align-items: center;
    margin: 0 20px;
    font-size: 16pt;
}